.bg-image {
  height: 544px;
  padding: 0px px;
  width: 100%;
}

.logo-image {
  margin-top: -29rem;
  margin-bottom: 349px;
  margin-left: 47rem;
}

.para {
  margin-top: -18rem;
  font-size: 30px;
  line-height: 50px;
  width: 1120px;
  margin-left: 26rem;
  text-align: center;
}

.section1 h1 {
  font-size: 36px;
  margin-top: 6rem;
  margin-left: 841px;
}

.section1 h3 {
  font-size: 23px;
  margin-left: 25rem;
}

.section1 p {
  font-size: 20px;
  line-height: 31px;
  width: 1120px;
  margin-left: 412px;
  margin-top: 25px;
  text-align: justify;
}

.ayurvediv h3 {
  font-size: 24px;
  margin-top: 28px;
  margin-left: 29rem;
}

.ayurvediv p {
  font-size: 20px;
  line-height: 31px;
  width: 1120px;
  text-align: justify;
  margin-left: 416px;
}

.ayurvediv li {
  font-size: 20px;
  padding: 11px;
  line-height: 40px;
  width: 899px;
  text-align: initial;
  margin-left: 461px;
}

.section4 {
  background-color: #f7f7f7;
  margin-top: 100px;
  height: 682px;
}

.udaipur-image {
  margin-left: 25rem;
  width: 164px;
  margin-top: 3rem;
  position: absolute;
}
.section4 h1 {
  margin-left: 599px;
  margin-top: -2rem;

}
.section4 p {
  width: 901px;
  margin-left: 600px;
  text-align: justify;
  font-size: 21px;
}
.footer {
  background-color: rgb(235, 68, 8);
  padding: 10px;
  margin-top: 87px;
  text-align: center;
}
