body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  font-display: swap;
}

.ArcgateApp {
  text-align: center;
  overflow-x: hidden;
}

.bg-image {
  height: 450px;
  padding: 0px px;
  width: 1910px;
}

.logo-image {
  position: absolute;
  top: 50px;
  left: 800px;
}

.uit-image {
  height: 316px;
  background-size: cover;
  margin: 2px;
  padding: 7px;
  width: 416px !important
}

.para {
  margin-top: -250px;
  /* font-family: Montserrat, sans-serif; */
  font-size: 30px;
  line-height: 50px;
  font-weight: 400;
  width: 1120px;
  margin-left: 416px;
}

.ayu-heading {
  margin-left: -716px;
  margin-top: 60px;
}

.content {
  margin-top: -100px;
}

.ayu-para {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  line-height: 31px;
  width: 1120px;
  text-align: initial;
  margin-left: 416px;
}

.uit-heading {
  margin-left: -874px;
  margin-top: 60px;
}

.bulleted-list {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  padding: 11px;
  line-height: 40px;
  width: 899px;
  text-align: initial;
  margin-left: 461px;
}

.section {
  background-color: #f7f7f7;
  margin-top: 100px;
  height: 750px;
}


.udaipur-image {
  margin-left: -882px;
  width: 150px;
  margin-top: 100px;

}

.section h1 {
  position: absolute;
  /* top: 10px; */
  left: 600px;
  top: 2844px;

}

.section p {
  position: absolute;
  left: 602px;
  text-align: initial;
  top: 2968px;
  font-size: 21px;
  right: 447px;
}

.udaImage {
  margin-left: 100px;
}

.section1 h1 {
  font-size: 24px;
  margin-right: 0.5rem !important;
  margin-left: -6.5rem !important;
  margin-top: 80px;
  margin-bottom: 45px;
}


.section2 {
  background-color: #f7f7f7;
  margin-top: -25px;
  height: 586px;
}


.section-heading h1 {
  font-size: 24px;
  margin-right: 0.5rem !important;
  margin-left: -11.5rem !important;
  margin-top: 80px;
  margin-bottom: 45px;
}

.section2 p {
  text-align: initial;
  font-size: 21px;
  right: 447px;
  text-align: justify;
  position: relative;
  left: 412px;
  width: 976px;
  line-height: 25px;
}


.section-heading {
  margin-top: 92px;
  padding: 1px;
  background-color: #f7f7f7;
}


.section3 h1 {
  font-size: 24px;
  margin-right: 0.5rem !important;
  margin-left: -19.5rem !important;
  margin-top: 80px;
  margin-bottom: 45px;
}

.section4 h1 {
  font-size: 24px;
  margin-right: 0.5rem !important;
  margin-left: -10.5rem !important;
  margin-top: 80px;
  margin-bottom: 45px;
}


.sections-heading h1 {
  font-size: 24px;
  margin-right: 28.5rem !important;
  margin-left: 25.5rem !important;
  margin-top: 80px;
  margin-bottom: 45px;
  text-align: initial;
}


.sections-heading {
  margin-top: 92px;
  padding: 1px;
  background-color: #f7f7f7;
  margin-left: 5px;
}


.section5 {
  background-color: #f7f7f7;
  margin-top: -25px;
  height: 340px;
}

.section5 p {
  text-align: initial;
  font-size: 21px;
  right: 447px;
  text-align: justify;
  position: relative;
  left: 412px;
  width: 976px;
  line-height: 25px;
}

.section6 {
  background-color: #f7f7f7;
  margin-top: -25px;
  height: px;
}

.section6 p {
  text-align: initial;
  font-size: 21px;
  right: 447px;
  text-align: justify;
  position: relative;
  left: 412px;
  width: 976px;
  line-height: 25px;
}

.section7 {
  background-color: #f7f7f7;
  margin-top: -25px;
  height: 1061px;
}

.sectionss-heading {
  margin-top: 92px;
  padding: 1px;
  background-color: #f7f7f7;
}

.sections {
  background-color: #f7f7f7;
  margin-top: -25px;
  height: 857px;
}

.sectionss-heading h1 {
  font-size: 24px;
  margin-right: 28.5rem !important;
  margin-left: 25.5rem !important;
  margin-top: 80px;
  margin-bottom: 45px;
  text-align: initial;
}


.section7-heading h1 {
  font-size: 24px;
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
  margin-top: 80px;
  margin-bottom: 45px;
}


.section7-heading {
  margin-top: 92px;
  padding: 1px;
  background-color: #f7f7f7;
  margin-left: 10px;
}


.section7 p {
  text-align: initial;
  font-size: 21px;
  right: 447px;
  text-align: justify;
  position: relative;
  left: 412px;
  width: 976px;
  line-height: 25px;
}


.sections p {
  text-align: initial;
  font-size: 21px;
  right: 447px;
  text-align: justify;
  position: relative;
  left: 412px;
  width: 976px;
  line-height: 25px;
}

.footer {
  background-color: rgb(235, 102, 54);
  padding: 5px;
}


.section8 h1 {
  font-size: 24px;
  margin-right: 0.5rem !important;
  margin-left: -25.5rem !important;
  margin-top: 80px;
  margin-bottom: 45px;
}

.section9 h1 {
  font-size: 24px;
  margin-right: 0.5rem !important;
  margin-left: -5.5rem !important;
  margin-top: 80px;
  margin-bottom: 45px;
}





/*lines */

.line {
  width: 62px;
  height: 47px;
  border-bottom: 7px solid orange;
  /* position: absolute; */
  margin-left: 414px;
  margin-top: 35px;
}

.lines {
  width: 137px;
  height: 47px;
  border-bottom: 7px solid orange;
  position: absolute;
  left: 604px;
  margin-top: -371px;
}

.line1 {
  width: 78px;
  height: 47px;
  border-bottom: 7px solid orange;
  position: absolute;
  margin-top: -83px;
  left: 398px;
}


.line2 {
  width: 85px;
  height: 47px;
  border-bottom: 7px solid orange;
  position: absolute;
  margin-left: 408px;
  margin-top: -81px;
}


.line3 {
  width: 94px;
  height: 47px;
  border-bottom: 7px solid orange;
  position: absolute;
  margin-left: 413px;
  margin-top: -81px;
}

.line4 {
  width: 82px;
  height: 47px;
  border-bottom: 7px solid orange;
  position: absolute;
  margin-left: 410px;
  margin-top: -77px;
}

.line5 {
  width: 93px;
  height: 47px;
  border-bottom: 7px solid orange;
  position: absolute;
  margin-left: 416px;
  margin-top: -85px;
}

.line6 {
  width: 95px;
  height: 47px;
  border-bottom: 7px solid orange;
  position: absolute;
  margin-left: 410px;
  margin-top: -85px;
}

.line7 {
  width: 84px;
  height: 47px;
  border-bottom: 7px solid orange;
  position: absolute;
  margin-left: 414px;
  margin-top: -83px;
}

.line8 {
  width: 84px;
  height: 47px;
  border-bottom: 7px solid orange;
  position: absolute;
  margin-left: 412px;
  margin-top: -83px;
}


.line9 {
  width: 94px;
  height: 47px;
  border-bottom: 7px solid orange;
  position: absolute;
  margin-left: 414px;
  margin-top: -82px;
}

.line10 {
  width: 88px;
  height: 47px;
  border-bottom: 7px solid orange;
  position: absolute;
  margin-left: 413px;
  margin-top: -80px;
}

.line11 {
  width: 81px;
  height: 47px;
  border-bottom: 7px solid orange;
  position: absolute;
  margin-left: 414px;
  margin-top: -83px;
}


.line12 {
  width: 85px;
  height: 47px;
  border-bottom: 7px solid rgb(226, 113, 21);
  position: absolute;
  margin-left: 414px;
  margin-top: -77px;
}



@media screen and (max-width: 768px) {

  .bg-image {
    height: 413px;
    padding: 0px px;
    width: 1910px;
  }
  

  .para {
    font-size: 18px;
    margin-left: 103px;
    width: 572px;
    line-height: 23px;
  }

  .logo-image {
    width: 252px;
    margin-left: -35rem !important;
  }

  .heading3 {
    margin-left: -1rem !important;
    font-size: 19px;
    margin-top: -75px;
  }

  .line {
    margin-left: 8rem !important;
  }

  .paragraph {
    font-size: 19px;
    margin-left: 8rem;
    width: 500px;
  }

  .ayu-heading {
    margin-left: -253px;
    margin-top: 28px;
  }

  .ayu-para {
    font-size: 18px;
    margin-left: 120px;
    width: 500px;
  }

  .bulleted-list {
    font-size: 18px;
    width: 500px;
    margin-left: 10rem;
  }

  .uit-heading {
    margin-left: -253px;
    margin-top: 28px;
  }

  .image-gallery {
    margin-left: 23rem;
    max-width: 40px;
  }

  .section{
    height: 188vh;
  }
  .section h1 {
    width: 10rem;
    position: relative;
    top: -13rem;
    left: 23%;
  }
  .udaipur-image{
    margin-left: -35rem;
    height: 141px;
    width: 98px;
  }
  .section p {
    font-size: 18px;
    margin-left: -422px;
    margin-top: 15rem;
    width: 500px;
}
.lines{
  margin-left: -27rem !important;
  margin-top: -17rem;
}
.section{
  height: 93vh;
}
.section1 h1 {
    font-size: 15px;
    margin-right: 0.5rem !important;
    margin-left: 3.5rem !important;
    margin-top: 1rem;
}
.section-heading {
  margin-top: 18px;
}
.section-heading h1{
  font-size: 15px;
  margin-top: 1rem;
  margin-left: -1rem !important;
}

.line1{
  margin-left: -17rem !important;
  margin-top: -5rem;
}
.section2{
  height: 85vh;
}
.line2{
  margin-left: 7rem !important;
  margin-top: -8rem;
}

.section2 p{
  font-size: 16px;
  margin-left: -17rem;
  width: 500px;
}

.section3{
  margin-top: -4rem;
}
.section3 h1{
  font-size: 15px;
  margin-top: 5rem;
  margin-left: -6rem !important;
}
.line3{
  margin-left: 7rem !important;
  margin-top: -5rem;
}
.paragraph{
  font-size: 16px;
  margin-left: 8rem;
  width: 500px;
}
.line4{
  margin-left: 7rem !important;
  margin-top: -5rem;
}
.section4 h1 {
  font-size: 16px;
  margin-top: 2rem;
  margin-left: 2rem !important;
}
.line5{
  margin-left: 8rem !important;
  margin-top: -5rem;
}
.sections-heading{
  height: 15vh;
  margin-top: 1rem;
}
.sections-heading h1 {
  font-size: 15px;
  width: 600px;
  margin-top: 1rem;
  margin-left: 6rem !important;
}
.line6{
  margin-left: 6rem !important;
  margin-top: -4rem;
}
.section5 p {
  font-size: 15px;
  margin-left: -20rem;
  width: 600px;
}
.line7{
  margin-left: 8rem !important;
  margin-top: -5rem;
}
.line8{
  margin-left: 6rem !important;
  margin-top: -5rem;
}
.section6 p{
  font-size: 15px;
  margin-left: -20rem;
  width: 600px;
}
.line9{
  margin-left: 8rem !important;
  margin-top: -5rem;
}
.section7-heading{
  height: 15vh;
  margin-top: 1rem;
}
.section7-heading h1{
  font-size: 15px;
  width: 650px;
  margin-top: 1rem;
  margin-left: 5rem !important;
}
.line10{
  margin-left: 6rem !important;
  margin-top: -5rem;
}
.section7{
  height: 160vh;
}
.section7 p{
  font-size: 15px;
  margin-left: -20rem;
  width: 600px;
}
.section8 h1{
  font-size: 15px;
  width: 600px;
  margin-top: 1rem;
  margin-left: 1rem !important;
}
.line11{
  margin-left: 8rem !important;
  margin-top: -5rem;
}
.line12{
  margin-left: 6rem !important;
  margin-top: -6rem;
}
.section5{
  height: 54vh;
}
.section9 h1{
  font-size: 15px;
  width: 600px;
  margin-top: 1rem;
  margin-left: 5rem !important;
}
.sectionss-heading{
    margin-top: 1rem;

}
.sectionss-heading h1{
  font-size: 15px;
  width: 500px;
  margin-top: 1rem;
  margin-left: 1rem !important;
}
.sections{
  height: 100vh;
}
.sections p{
  font-size: 15px;
    width: 45rem;
    margin-left: -25rem;
}
}

@media screen and (max-width: 390px){

  .bg-image {
    height: 275px;
    padding: 0px px;
    width: 1910px;
  }
  .para {
    font-size: 10px;
    margin-top: -157px;
    margin-left: 70px;
    width: 283px;
    line-height: 17px;
  }
  .logo-image {
    width: 148px;
    margin-left: -42rem !important;
  }

  .heading3 {
    margin-left: -1rem !important;
    font-size: 14px;
    margin-top: -75px;
  }

  .heading{
    height: 10px;
    font-size: 25px;
  }
  .line {
    margin-left: 1rem !important;
  }

  .paragraph {
    font-size: 13px;
    margin-left: 1rem;
    width: 360px;
    margin-bottom: -59px;
  }

  .ayu-heading {
    font-size: 16px;
    margin-left: -11rem;
    margin-top: 77px;
  }

  .ayu-para {
    font-size: 15px;
    margin-left: 1rem;
    width: 22rem;
  }

  .bulleted-list {
    font-size: 16px;
    width: 308px;
    margin-left: 1rem;
  }

  .uit-heading {
    margin-left: -253px;
    margin-top: 28px;
  }
  .section{
    height: 55vh;
  }
  .section h1 {
    width: 10rem;
    position: relative;
    top: -13rem;
    left: 23%;
  }
  .udaipur-image{
    margin-left: -17rem;
    height: 150px;
    width: 89px;
  }
  .section p {
    font-size: 12px;
    margin-left: -481px;
    margin-top: 21rem;
    width: 258px;
  }
.lines{
  margin-left: -32rem !important;
  margin-top: -17rem;
}
.section1 h1 {
    font-size: 15px;
    margin-right: 0.5rem !important;
    margin-left: 3.5rem !important;
    margin-top: 1rem;
}
.section-heading {
  margin-top: 18px;
}
.section-heading h1{
  font-size: 15px;
  margin-top: 1rem;
  margin-left: -1rem !important;
}

.line1{
  margin-left: -17rem !important;
  margin-top: -5rem;
}
.section2{
  height: 52vh;
}
.line2{
  margin-left: 7rem !important;
  margin-top: -5rem;
}

.section2 p{
  font-size: 13px;
  margin-left: -25rem;
  width: 360px;
}

.section3{
  margin-top: -4rem;
}
.section3 h1{
  font-size: 15px;
  margin-top: 5rem;
  margin-left: -1rem !important;
}
.line3{
  margin-left: 7rem !important;
  margin-top: -5rem;
}
.line4{
  margin-left: 7rem !important;
  margin-top: -5rem;
}
.section4 h1 {
  font-size: 16px;
  margin-top: 5rem;
  margin-left: 0rem !important;
}
.line5{
  margin-left: 8rem !important;
  margin-top: -5rem;
}
.sections-heading{
  height: 15vh;
  margin-top: 1rem;
  margin-left: -5rem;

}
.sections-heading h1 {
  font-size: 15px;
  width: 22rem;
  margin-top: 1rem;
  margin-left: 6rem !important;
}
.line6{
  margin-left: 1rem !important;
  margin-top: -6rem;
}
.section5 p {
  font-size: 15px;
  margin-left: -25rem;
  width: 23rem;
}
.line7{
  margin-left: 8rem !important;
  margin-top: -5rem;
}
.line8{
  margin-left: 6rem !important;
  margin-top: -5rem;
}
.section6 p{
  font-size: 15px;
  margin-left: -25rem;
  width: 22rem;
}
.line9{
  margin-left: 8rem !important;
  margin-top: -5rem;
}
.section7-heading{
  height: 15vh;
  margin-top: 1rem;
}
.section7-heading h1{
  font-size: 15px;
  width: 22rem;
  margin-top: 1rem;
  margin-left: 0rem !important;
}
.line10{
  margin-left: 2rem !important;
  margin-top: -7rem;
}
.section7{
  height: 160vh;
}
.section7 p{
  font-size: 15px;
  margin-left: -24rem;
  width: 21rem;
}
.section8 h1{
  font-size: 15px;
  width: 600px;
  margin-top: 1rem;
  margin-left: -7rem !important;
}
.line11{
  margin-left: 8rem !important;
  margin-top: -5rem;
}
.sections {
  height: 107vh;
}

.line12{
  margin-left: 6rem !important;
  margin-top: -8rem;
}
.section5{
  height: 50vh;
}
.section9 h1{
  font-size: 15px;
  width: 24rem;
  margin-top: 1rem;
  margin-left: 0rem !important;
}
.sectionss-heading{
    margin-top: 4rem;

}
.sectionss-heading h1{
  font-size: 15px;
  width: 23rem;
  margin-top: 1rem;
  margin-left: 1rem !important;
}
.sections p{
  font-size: 15px;
  width: 23rem;
  margin-left: -25rem;
}

}